@model PizzaOrder.Models.Food
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<link href="@Url.Content("~/css/Product.css")" rel="stylesheet" type="text/css" />



<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="position: relative; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" style="display: flex; align-items: center; flex-direction:column; justify-content: center;">
                <img class="img-responsive center-block" src="" alt="" style="max-width: 600px;">
            </div>
        </div>
    </div>
</div>
<div id="pizza-cart" class="border" style="
background-color: #E5E7E9;
min-width:250px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
    
    <a href="#" class="" style="position: relative; width: 100%; height: 100%; box-sizing: border-box;">
        <img src="@Model.Image" alt="..." style="width: 100%; height: 150px;">
    </a>
    <div class="p-3">
        <div class="">
            <h3 class="font-weight-bold text-dark d-flex justify-content-center">@Model.Title</h3>
            <div class="d-flex flex-lg-row" style="font-size: 20px">
                <p class="card-text font-weight-bold text-dark" style="font-size: 14px"><span class="text-danger">@Model.Weight</span> гр &nbsp;&nbsp;</p>
                <p class="card-text text-dark" style="font-size: 14px">@Model.Description</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <p class="card-text font-weight-bold text-dark" style="font-size: 14px; margin-left: 5%"><span class="text-danger" style="font-size: 30px">@Model.Price</span> грн.</p>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="btn-group">
                    <a asp-controller="Home" asp-action="FoodDetails" asp-route-id="@Model.Id" class="btn btn-dark" style="height: 40px;">
                        <img src="~/image/basket.png">
                    </a>
                </div>
            }
        </div>

    </div>
    
</div>

@section Styles {
    <link href="@Url.Content("~/css/Product.css")" rel="stylesheet" type="text/css" />
}